<div class="container center-block">
  <canvas id="draw-area" class="panel panel-default" width="300" height="300"></canvas>
  <div id="controller">
    <span id="left" class="controll-button btn btn-default">←</span>
    <span id="up" class="controll-button btn btn-default">↑</span>
    <span id="down" class="controll-button btn btn-default">↓</span>
    <span id="right" class="controll-button btn btn-default">→</span>
  </div>
  <div id="button-area">  
    <span id="clear-button" class="btn btn-default">消去</span>
    <span id="save-button" class="controll-button btn btn-default">保存</span>
  </div>
</div>

