<canvas id="draw-area" width="300" height="300"></canvas>
<span id="clear-button">消去</span>
<span id="return-button" class="controll-button">戻す</span>
<span id="save-button" class="controll-button">保存</span>
<input type="text" class="fill-x"></input>
<input type="text" class="fill-y"></input>

