<div id="header">
  <img src="/assets/new/header.png">
</div>
<div id="wrap" class="clearfix">
  <div id="left-content">
    <div class="center-block clearfix">
      <canvas id="draw-area" class="panel-blue" width="400" height="400"></canvas>
      <div id="control-panel">
        <div id="controller" class="clearfix">
          <img id="move-left" class="control-button" src="/assets/new/left.png" width="40px">
          <img id="move-up" class="control-button" src="/assets/new/up.png" width="40px">
          <img id="move-down" class="control-button" src="/assets/new/down.png" width="40px">
          <img id="move-right" class="control-button" src="/assets/new/right.png" width="40px">
          <img id="draw-up" class="control-button" src="/assets/new/drawup.png" width="50px">
          <img id="draw-down" class="control-button" src="/assets/new/drawdown.png" width="50px">
          <img id="rotate-right" class="control-button" src="/assets/new/rotateright.png" width="60px">
          <img id="rotate-left" class="control-button" src="/assets/new/rotateleft.png" width="60px">
        </div>
        <div id="button-area">  
          <img id="clear-button" class="" src="/assets/new/deleteall.png">
          <img id="delete-clicked" class="" src="/assets/new/delete.png">
          <img id="save-button" class="" src="/assets/new/finish.png">
        </div>
      </div><!-- /#control-panel -->
    </div><!-- /.container-->
  </div><!-- /#left-content -->
  <div id="right-content">
    <div id="dresser">
      <h2 class="title">1<span>ドレスを選ぶ</span></h2>
      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">しろ</a></li>
        <li><a href="#tab2" data-toggle="tab">あか</a></li>
        <li><a href="#tab3" data-toggle="tab">あお</a></li>
        <li><a href="#tab4" data-toggle="tab">きいろ</a></li>
        <li><a href="#tab5" data-toggle="tab">みどり</a></li>
        <li><a href="#tab6" data-toggle="tab">おまかせ</a></li>
      </ul>
      <div id="" class="tab-content panel panel-default">
        <div class="tab-pane fade in active clearfix" id="tab1">
          <span id="w-dress1" class="dress-btn row-01 col-01"></span>
          <span id="w-dress2" class="dress-btn row-01 col-02"></span>
          <span id="w-dress3" class="dress-btn row-01 col-03"></span>
          <span id="w-dress4" class="dress-btn row-01 col-04"></span>
        </div>
        <div class="tab-pane fade in clearfix" id="tab2">
          <span id="r-dress1" class="dress-btn row-01 col-05"></span>
          <span id="r-dress2" class="dress-btn row-01 col-06"></span>
          <span id="r-dress3" class="dress-btn row-01 col-07"></span>
          <span id="r-dress4" class="dress-btn row-01 col-08"></span>
        </div>
        <div class="tab-pane fade in clearfix" id="tab3">
          <span id="b-dress1" class="dress-btn row-02 col-01"></span>
          <span id="b-dress2" class="dress-btn row-02 col-02"></span>
          <span id="b-dress3" class="dress-btn row-02 col-03"></span>
          <span id="b-dress4" class="dress-btn row-02 col-04"></span>
        </div>
        <div class="tab-pane fade in clearfix" id="tab4">
          <span id="y-dress1" class="dress-btn row-02 col-05"></span>
          <span id="y-dress2" class="dress-btn row-02 col-06"></span>
          <span id="y-dress3" class="dress-btn row-02 col-07"></span>
          <span id="y-dress4" class="dress-btn row-02 col-08"></span>
        </div>
        <div class="tab-pane fade in clearfix" id="tab5">
          <span id="g-dress1" class="dress-btn row-03 col-01"></span>
          <span id="g-dress2" class="dress-btn row-03 col-02"></span>
          <span id="g-dress3" class="dress-btn row-03 col-03"></span>
          <span id="g-dress4" class="dress-btn row-03 col-04"></span>
        </div>
        <div class="tab-pane fade in clearfix" id="tab6">
          <span id="se-ra-mu-n" class="dress-btn row-03 col-05"></span>
          <span id="b-dress" class="dress-btn row-03 col-06"></span>
          <span id="c-dress" class="dress-btn row-03 col-07"></span>
        </div>
      </div><!-- tab-content -->

    </div><!-- /#dresser -->
    <div id="switcher">
      <h2 class="title">2<span>素材を選ぶ</span></h2>
      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab7" data-toggle="tab">エレガント</a></li>
        <li><a href="#tab8" data-toggle="tab">ぱきっと</a></li>
        <li><a href="#tab9" data-toggle="tab">かわいい</a></li>
        <li><a href="#tab10" data-toggle="tab">ゴージャス</a></li>
      </ul>
      <div id="switcher-content" class="panel panel-default">
        <div id="" class="tab-content">
          <div class="elegant tab-pane fade in active" id="tab7">
            <div class="parts-white color-part clearfix">
              <span id="w-circle" class="src-btn row-14 col-01"></span>
              <span id="w-heart" class="src-btn row-14 col-02"></span>
              <span id="w-jewel" class="src-btn row-14 col-03"></span>
              <span id="w-ribbon2" class="src-btn row-14 col-04"></span>
              <span id="w-top" class="src-btn no-margin-right row-14 col-05"></span>
              <span id="w-topribbon" class="src-btn row-14 col-06"></span>
            </div>
            <div class="parts-red color-part clearfix">
              <span id="r-circle" class="src-btn row-15 col-01"></span>
              <span id="r-heart" class="src-btn row-15 col-02"></span>
              <span id="r-jewel" class="src-btn row-15 col-03"></span>
              <span id="r-ribbon2" class="src-btn row-15 col-04"></span>
              <span id="r-top" class="src-btn no-margin-right row-15 col-05"></span>
              <span id="r-topribbon" class="src-btn row-15 col-06"></span>
            </div>
            <div class="parts-blue color-part clearfix">
              <span id="b-circle" class="src-btn row-16 col-01"></span>
              <span id="b-heart" class="src-btn row-16 col-02"></span>
              <span id="b-jewel" class="src-btn row-16 col-03"></span>
              <span id="b-ribbon2" class="src-btn row-16 col-04"></span>
              <span id="b-top" class="src-btn no-margin-right row-16 col-05"></span>
              <span id="b-topribbon" class="src-btn row-16 col-06"></span>
            </div>
            <div class="parts-yellow color-part clearfix">
              <span id="y-circle" class="src-btn row-17 col-01"></span>
              <span id="y-heart" class="src-btn row-17 col-02"></span>
              <span id="y-jewel" class="src-btn row-17 col-03"></span>
              <span id="y-ribbon2" class="src-btn row-17 col-04"></span>
              <span id="y-top" class="src-btn no-margin-right row-17 col-05"></span>
              <span id="y-topribbon" class="src-btn row-17 col-06"></span>
            </div>
            <div class="parts-green color-part clearfix">
              <span id="g-circle" class="src-btn row-18 col-01"></span>
              <span id="g-heart" class="src-btn row-18 col-02"></span>
              <span id="g-jewel" class="src-btn row-18 col-03"></span>
              <span id="g-ribbon2" class="src-btn row-18 col-04"></span>
              <span id="g-top" class="src-btn no-margin-right row-18 col-05"></span>
              <span id="g-topribbon" class="src-btn row-18 col-06"></span>
            </div>
          </div>
          <div class="pakitto tab-pane fade in" id="tab8">
            <div class="parts-white color-part clearfix">
              <span id="w01" class="src-btn row-19 col-01"></span>
              <span id="w02" class="src-btn row-19 col-02"></span>
              <span id="w03" class="src-btn row-19 col-03"></span>
              <span id="w04" class="src-btn row-19 col-04"></span>
              <span id="w05" class="src-btn no-margin-right row-19 col-05"></span>
              <span id="w06" class="src-btn row-19 col-06"></span>
              <span id="w07" class="src-btn row-19 col-07"></span>
              <span id="w08" class="src-btn row-19 col-08"></span>
              <span id="w09" class="src-btn row-19 col-09"></span>
              <span id="w10" class="src-btn no-margin-right row-19 col-10"></span>
            </div>
            <div class="parts-red color-part clearfix">
              <span id="r01" class="src-btn row-20 col-01"></span>
              <span id="r02" class="src-btn row-20 col-02"></span>
              <span id="r03" class="src-btn row-20 col-03"></span>
              <span id="r04" class="src-btn row-20 col-04"></span>
              <span id="r05" class="src-btn no-margin-right row-20 col-05"></span>
              <span id="r06" class="src-btn row-20 col-06"></span>
              <span id="r07" class="src-btn row-20 col-07"></span>
              <span id="r08" class="src-btn row-20 col-08"></span>
              <span id="r09" class="src-btn row-20 col-09"></span>
              <span id="r10" class="src-btn no-margin-right row-20 col-10"></span>
            </div>
            <div class="parts-blue color-part clearfix">
              <span id="b01" class="src-btn row-21 col-01"></span>
              <span id="b02" class="src-btn row-21 col-02"></span>
              <span id="b03" class="src-btn row-21 col-03"></span>
              <span id="b04" class="src-btn row-21 col-04"></span>
              <span id="b05" class="src-btn no-margin-right row-21 col-05"></span>
              <span id="b06" class="src-btn row-21 col-06"></span>
              <span id="b07" class="src-btn row-21 col-07"></span>
              <span id="b08" class="src-btn row-21 col-08"></span>
              <span id="b09" class="src-btn row-21 col-09"></span>
              <span id="b10" class="src-btn no-margin-right row-21 col-10"></span>
            </div>
            <div class="parts-yellow color-part clearfix">
              <span id="y01" class="src-btn row-22 col-01"></span>
              <span id="y02" class="src-btn row-22 col-02"></span>
              <span id="y03" class="src-btn row-22 col-03"></span>
              <span id="y04" class="src-btn row-22 col-04"></span>
              <span id="y05" class="src-btn no-margin-right row-22 col-05"></span>
              <span id="y06" class="src-btn row-22 col-06"></span>
              <span id="y07" class="src-btn row-22 col-07"></span>
              <span id="y08" class="src-btn row-22 col-08"></span>
              <span id="y09" class="src-btn row-22 col-09"></span>
              <span id="y10" class="src-btn no-margin-right row-22 col-10"></span>
            </div>
            <div class="parts-green color-part clearfix">
              <span id="g01" class="src-btn row-23 col-01"></span>
              <span id="g02" class="src-btn row-23 col-02"></span>
              <span id="g03" class="src-btn row-23 col-03"></span>
              <span id="g04" class="src-btn row-23 col-04"></span>
              <span id="g05" class="src-btn no-margin-right row-23 col-05"></span>
              <span id="g06" class="src-btn row-23 col-06"></span>
              <span id="g07" class="src-btn row-23 col-07"></span>
              <span id="g08" class="src-btn row-23 col-08"></span>
              <span id="g09" class="src-btn row-23 col-09"></span>
              <span id="g10" class="src-btn no-margin-right row-23 col-10"></span>
            </div>
          </div>
          <div class="cute tab-pane fade in" id="tab9">
            <div class="parts-white color-part clearfix">
              <span id="w-belt" class="src-btn row-04 col-01"></span>
              <span id="w-crystal" class="src-btn row-04 col-02"></span>
              <span id="w-flower" class="src-btn row-04 col-03"></span>
              <span id="w-hana" class="src-btn row-04 col-04"></span>
              <span id="w-leaf" class="src-btn no-margin-right row-04 col-05"></span>
              <span id="w-maru" class="src-btn row-04 col-06"></span>
              <span id="w-ribbon" class="src-btn row-04 col-07"></span>
              <span id="w-setflower" class="src-btn row-04 col-08"></span>
              <span id="w-shell" class="src-btn row-04 col-09"></span>
              <span id="w-ten" class="src-btn no-margin-right row-04 col-10"></span>
            </div>
            <div class="parts-red color-part clearfix">
              <span id="r-belt" class="src-btn row-05 col-01"></span>
              <span id="r-crystal" class="src-btn row-05 col-02"></span>
              <span id="r-flower" class="src-btn row-05 col-03"></span>
              <span id="r-hana" class="src-btn row-05 col-04"></span>
              <span id="r-leaf" class="src-btn no-margin-right row-05 col-05"></span>
              <span id="r-maru" class="src-btn row-05 col-06"></span>
              <span id="r-ribbon" class="src-btn row-05 col-07"></span>
              <span id="r-setflower" class="src-btn row-05 col-08"></span>
              <span id="r-shell" class="src-btn row-05 col-09"></span>
              <span id="r-ten" class="src-btn no-margin-right row-05 col-10"></span>
            </div>
            <div class="parts-blue color-part clearfix">
              <span id="b-belt" class="src-btn row-06 col-01"></span>
              <span id="b-crystal" class="src-btn row-06 col-02"></span>
              <span id="b-flower" class="src-btn row-06 col-03"></span>
              <span id="b-hana" class="src-btn row-06 col-04"></span>
              <span id="b-leaf" class="src-btn no-margin-right row-06 col-05"></span>
              <span id="b-maru" class="src-btn row-06 col-06"></span>
              <span id="b-ribbon" class="src-btn row-06 col-07"></span>
              <span id="b-setflower" class="src-btn row-06 col-08"></span>
              <span id="b-shell" class="src-btn row-06 col-09"></span>
              <span id="b-ten" class="src-btn no-margin-right row-06 col-10"></span>
            </div>
            <div class="parts-yellow color-part clearfix">
              <span id="y-belt" class="src-btn row-07 col-01"></span>
              <span id="y-crystal" class="src-btn row-07 col-02"></span>
              <span id="y-flower" class="src-btn row-07 col-03"></span>
              <span id="y-hana" class="src-btn row-07 col-04"></span>
              <span id="y-leaf" class="src-btn no-margin-right row-07 col-05"></span>
              <span id="y-maru" class="src-btn row-07 col-06"></span>
              <span id="y-ribbon" class="src-btn row-07 col-07"></span>
              <span id="y-setflower" class="src-btn row-07 col-08"></span>
              <span id="y-shell" class="src-btn row-07 col-09"></span>
              <span id="y-ten" class="src-btn no-margin-right row-07 col-10"></span>
            </div>
            <div class="parts-green color-part clearfix">
              <span id="g-belt" class="src-btn row-08 col-01"></span>
              <span id="g-crystal" class="src-btn row-08 col-02"></span>
              <span id="g-flower" class="src-btn row-08 col-03"></span>
              <span id="g-hana" class="src-btn row-08 col-04"></span>
              <span id="g-leaf" class="src-btn no-margin-right row-08 col-05"></span>
              <span id="g-maru" class="src-btn row-08 col-06"></span>
              <span id="g-ribbon" class="src-btn row-08 col-07"></span>
              <span id="g-setflower" class="src-btn row-08 col-08"></span>
              <span id="g-shell" class="src-btn row-08 col-09"></span>
              <span id="g-ten" class="src-btn no-margin-right row-08 col-10"></span>
            </div>
          </div>
          <div class="gorgeous tab-pane fade in" id="tab10">
            <div class="parts-white color-part clearfix">
              <span id="w-parts1" class="src-btn row-09 col-01"></span>
              <span id="w-parts2" class="src-btn row-09 col-02"></span>
              <span id="w-parts3" class="src-btn row-09 col-03"></span>
              <span id="w-parts4" class="src-btn row-09 col-04"></span>
              <span id="w-parts5" class="src-btn no-margin-right row-09 col-05"></span>
              <span id="w-parts6" class="src-btn row-09 col-06"></span>
            </div>
            <div class="parts-red color-part clearfix">
              <span id="r-parts1" class="src-btn row-10 col-01"></span>
              <span id="r-parts2" class="src-btn row-10 col-02"></span>
              <span id="r-parts3" class="src-btn row-10 col-03"></span>
              <span id="r-parts4" class="src-btn row-10 col-04"></span>
              <span id="r-parts5" class="src-btn no-margin-right row-10 col-05"></span>
              <span id="r-parts6" class="src-btn row-10 col-06"></span>
            </div>
            <div class="parts-blue color-part clearfix">
              <span id="b-parts1" class="src-btn row-11 col-01"></span>
              <span id="b-parts2" class="src-btn row-11 col-02"></span>
              <span id="b-parts3" class="src-btn row-11 col-03"></span>
              <span id="b-parts4" class="src-btn row-11 col-04"></span>
              <span id="b-parts5" class="src-btn no-margin-right row-11 col-05"></span>
              <span id="b-parts6" class="src-btn row-11 col-06"></span>
            </div>
            <div class="parts-yellow color-part clearfix">
              <span id="y-parts1" class="src-btn row-12 col-01"></span>
              <span id="y-parts2" class="src-btn row-12 col-02"></span>
              <span id="y-parts3" class="src-btn row-12 col-03"></span>
              <span id="y-parts4" class="src-btn row-12 col-04"></span>
              <span id="y-parts5" class="src-btn no-margin-right row-12 col-05"></span>
              <span id="y-parts6" class="src-btn row-12 col-06"></span>
            </div>
            <div class="parts-green color-part clearfix">
              <span id="g-parts1" class="src-btn row-13 col-01"></span>
              <span id="g-parts2" class="src-btn row-13 col-02"></span>
              <span id="g-parts3" class="src-btn row-13 col-03"></span>
              <span id="g-parts4" class="src-btn row-13 col-04"></span>
              <span id="g-parts5" class="src-btn no-margin-right row-13 col-05"></span>
              <span id="g-parts6" class="src-btn row-13 col-06"></span>
            </div>
          </div>
        </div><!-- tab-content -->
        <div class="color-switcher">
          <img id="white" class="color-button" src="/assets/new/white.png">
          <img id="red" class="color-button" src="/assets/new/red.png">
          <img id="blue" class="color-button" src="/assets/new/blue.png">
          <img id="yellow" class="color-button" src="/assets/new/yellow.png">
          <img id="green" class="color-button" src="/assets/new/green.png">
        </div><!-- /.color-switcher -->
      </div><!-- /#switcher-content -->
    </div><!-- /#switcher -->
  </div><!-- /#right-content -->
</div><!-- /#wrap -->
  
