<div class="container center-block">
  <canvas id="draw-area" class="panel panel-default" width="400" height="400"></canvas>
  <div id="control-panel" class="panel panel-default">
    <div id="dresser">
      <img id="dress01" class="dress-btn" src="/dresses/dress01.png">
      <img id="dress02" class="dress-btn" src="/dresses/dress02.png">
      <img id="dress03" class="dress-btn" src="/dresses/dress03.png">
    </div>
    <div id="switcher">
      <img id="flower01" class="src-btn" src="/sources/flower01.png">
      <img id="flower02" class="src-btn" src="/sources/flower02.png">
      <img id="flower03" class="src-btn" src="/sources/flower03.png">
      <img id="fb_icon" class="src-btn" src="/sources/fb_icon.png">
      <img id="mixi" class="src-btn" src="/sources/mixi.png">
    </div>
    <div id="controller">
      <span id="move-left" class="controll-button btn btn-default">←</span>
      <span id="move-up" class="controll-button btn btn-default">↑</span>
      <span id="move-down" class="controll-button btn btn-default">↓</span>
      <span id="move-right" class="controll-button btn btn-default">→</span>
      <span id="draw-up" class="controll-button btn btn-default">＄</span>
      <span id="draw-down" class="controll-button btn btn-default">￥</span>
      <span id="delete-clicked" class="controll-button btn btn-default">×</span>
      <span id="move-rotate" class="controll-button btn btn-default">⇒</span>
    </div>
    <div id="button-area">  
      <span id="clear-button" class="btn btn-default">消去</span>
      <span id="save-button" class="controll-button btn btn-default">保存</span>
    </div>
  </div>
</div>

