<canvas id="draw-area" class="panel panel-default" width="300" height="300"></canvas>
<span id="clear-button" class="btn btn-default">消去</span>
<span id="save-button" class="controll-button btn btn-default">保存</span>
<input type="text" class="fill-x"></input>
<input type="text" class="fill-y"></input>

